<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{- if .IsHome -}}
    {{ .Site.Title }}
  {{- else -}}
    {{ .Title }} — {{ .Site.Title }}
  {{- end -}}
</title>
{{- with .Params.description }}<meta name="description" content="{{ . }}" />{{- end }}

<link rel="stylesheet" href="{{ "css/main.css" | relURL }}" />

<!-- Favicon -->
{{- with .Site.Params.favicon }}
<link rel="icon" href="{{ . }}" />
{{- else }}
<link rel="icon" href="/icon-light.svg" type="image/svg+xml" />
{{- end }}

{{- template "_internal/opengraph.html" . }}
{{- template "_internal/schema.html" . }}
